*.exe
*.exe
RPG/bin/*
*.pdb
*.exe
RPG/obj/*
RPG/bin/WindowsGL/Debug/RPG.exe
RPG/bin/WindowsGL/Debug/RPG.exe
RPG/bin/WindowsGL/Debug/RPG.exe
RPG/bin/WindowsGL/Debug/RPG.pdb
RPG/obj/x86/Debug/RPG.csproj.FileListAbsolute.txt
RPG/obj/x86/Debug/RPG.exe
RPG/obj/x86/Debug/RPG.pdb